{% extends "blog/base.html" %}
{% block head_block %}
<title>About PyVinit</title>
{% endblock %}
{% block body_block %}
<!-- REF: https://www.solodev.com/blog/web-design/designing-your-websites-about-us-page.stml -->
<div class="ct-pageWrapper" id="ct-js-wrapper">
  <section class="company-heading intro-type" id="parallax-one">
    <div class="container">
      <div class="row product-title-info">
        <div class="col-md-12">
          <h1>Vinit Khandelwal (PyVinit)</h1>
        </div>
      </div>
    </div>
    <div class="parallax" id="parallax-cta"></div>
  </section>
  <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
    <div class="container text-center">
      <h2>Who am I?</h2>
      <h3>What am I upto?</h3>
      <div class="col-md-8 col-md-offset-2">
        <div class="red-border"></div>
        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">I am a Python enthusiast, full stack web developer, foraying into machine learning. I enjoy building products. UX, and Marketing Science excites me. I have great analytical instincts, and problem solving sense. Challenges make me happy.</p>
        <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
    </div>
  </section>
  <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Hard Skills</h2>
          <h3>Key hard skills that I am good at</h3>
          <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">I have worked as Web Backend Developer, Frontend Developer, Business Analyst, Marketing and UX Consultant. I have also worked on building businesses from tech products to a restaurant. All this has been very exciting and helped me learn a little too many skills.</p>
        </div>
      </div>
      <div class="row ct-u-paddingBoth20">
        <div class="col-xs-12 col-md-4">
          <div class="company-icons-white">
            <i class="fab fa-python fa-5x" aria-hidden="true"></i>
            <p>PYTHON</p>
            <p class="company-icons-subtext">Have used Python in Backend Development (Django and Flask), and in Machine Learning (Scikit Learn) extensively.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="company-icons-white">
            <i class="fab fa-js-square fa-5x" aria-hidden="true"></i>
            <p>JAVASCRIPT</p>
            <p class="company-icons-subtext">Have used JavaScript in Backend Development (NodeJS), in Frontend Development (Angular, JQuery), and in developing Chrome Extensions (JavaScript DOM).</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="company-icons-white">
            <i class="fas fa-chart-area fa-5x" aria-hidden="true"></i>
            <p>MACHINE LEARNING</p>
            <p class="company-icons-subtext">Have learnt prediction models in Scikit Learn and have Google Certifications in Machine Learning. Have also used Visualization tools such as Seaborn, Plotly, and Matplotlib.</p>
          </div>
        </div>
      </div>
      <div class="row ct-u-paddingBoth20">
        <div class="col-xs-12 col-md-4">
          <div class="company-icons-white">
            <i class="fab fa-aws fa-5x" aria-hidden="true"></i>
            <p>AWS</p>
            <p class="company-icons-subtext">Have deployed applications on EC2 and used S3 for storage.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="company-icons-white">
            <i class="fab fa-google fa-5x" aria-hidden="true"></i>
            <p>GOOGLE CLOUD PLATFORM</p>
            <p class="company-icons-subtext">Have used GCP's AppEngine, ComputeEngine, DataStore, and BigQuery.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="company-icons-white">
            <i class="fab fa-adobe fa-5x" aria-hidden="true"></i>
            <p>PHOTOSHOP</p>
            <p class="company-icons-subtext">Have been using Photoshop for designing and wireframing since a decade.</p>
          </div>
        </div>
      </div>
      <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-padding btn-fullWidth-sm ct-u-size19" href="#">Contact Now!</a>
    </div>
  </section>
  <section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h2>Contact PyVinit</h2>
                  <h3>Waiting for the next challenge!</h3>
                  <a href="tel:+919923908880"><button class="ct-u-size19 btn btn-success btn-padding"><h4><i class="fas fa-phone fa-lg" aria-hidden="true"></i>&nbsp&nbsp&nbsp+91 99239 08880</h4></button></a>
              </div>
              <div class="clearfix">
              </div>
          </div>
      </div>
  </section>
</div>
<!--
<div class="jumbotron">
    <h1>About Vinit Khandelwal</h1>
    <p>Vinit is a fullstack web developer with experience on Django, Flask, NodeJS, Angular, and Machine Learning using Scikit Learn</p>
</div>
<div class="container">
    <p>Vinit has recently learnt</p>
    <ul>
        <li>NLTK</li>
        <li>ML Models</li>
        <ul>
            <li>Neural Network</li>
            <li>Naive Bayes</li>
            <li>Linear Regression</li>
            <li>Logistic Regression</li>
            <li>Support Vector Machine</li>
            <li>Decision Tree</li>
            <li>Random Forest</li>
            <li>KNN</li>
        </ul>
        <li>Google DataFlow</li>
        <li>Machine Learning</li>
        <li>TensorFlow</li>
        <ul>
            <li>Estimator API</li>
            <li>Scikit Learn</li>
        </ul>
        <li>Databases</li>
        <ul>
            <li>SQL-BigQuery</li>
            <li>MySQL; NoSQL-MongoDB</li>
        </ul>
        <li>Languages</li>
        <ul>
            <li>GoLang</li>
            <li>Python</li>
            <li>Javascript</li>
        </ul>
        <li>Data Visualization</li>
        <ul>
            <li>Plotly</li>
            <li>Cufflinks</li>
            <li>Seaborn</li>
            <li>Matplotlib</li>
            <li>Pandas</li>
            <li>Numpy</li>
        </ul>
        <li>Frameworks</li>
        <ul>
            <li>Django</li>
            <li>Flask</li>
            <li>NodeJS</li>
            <li>Angular</li>
        </ul>
        <li>AWS</li>
        <ul>
            <li>EC2</li>
            <li>SSH</li>
        </ul>
        <li>GCP</li>
        <ul>
            <li>BigQuery</li>
            <li>Datastore</li>
            <li>Storage</li>
            <li>DataFlow</li>
        </ul>
        <li>Cloud IaaS/PaaS</li>
        <ul>
            <li>Python Anywhere</li>
            <li>Digital Ocean</li>
            <li>Heroku</li>
        </ul>
        <li>REST API</li>
        <li>virtualenv</li>
        <li>pipenv</li>
        <li>Data Structures</li>
        <ul>
            <li>Hash Tables</li>
            <li>Stacks</li>
            <li>Queues</li>
            <li>Trees</li>
            <li>Binary Search Tree</li>
            <li>Single and Doubly Linked Lists</li>
            <li>AVL</li>
            <li>Red Black</li>
            <li>Graphs</li>
            <li>Depth First Search</li>
            <li>Breadth First Search</li>
            <li>Bellman</li>
            <li>Ford and Dijkstra algorithms</li>
        </ul>
        <li>Arrays</li>
        <li>Sorting</li>
        <ul>
            <li>Bubble</li>
            <li>Selection</li>
            <li>Insertion</li>
            <li>Merge</li>
            <li>Quick</li>
            <li>Heap</li>
            <li>Radix</li>
            <li>Counting</li>
        </ul>
        <li>Dynamic Programming</li>
        <li>Map</li>
        <li>Filter</li>
        <li>Lambda</li>
        <li>List Comprehension</li>
        <li>IDE</li>
        <ul>
            <li>Pycharm</li>
            <li>Visual Studio</li>
            <li>Atom</li>
            <li>Sublime Text</li>
        </ul>
        <li>JQuery</li>
        <li>JavaScript DOM</li>
        <li>Bootstrap</li>
        <li>CSS3</li>
        <li>HTML5</li>
    </ul>
</div>
-->
{% endblock %}